body{
    width: 100vw;
    height: fit-content;
    background-color: rgba(250, 235, 215, 0.445);
    background-size: cover;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-areas: "nav"
                         "main";
    grid-row-gap: .1em;
}


#animacionLogo{
    animation-name: animacion_logo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    @keyframes animacion_logo{
        to {  
        }
    
        from {
            transform: rotateY(360deg);
        }
    }
}

.navPrincipal{
    grid-area: nav;
    @include flexbox(row, space-around, center, row wrap);
    background-color: rgba(150, 89, 49, 0.877);
    div{
        @include flexbox(row, space-around, center, row wrap);
        img{
            margin: 3px;
            width: 130px;
            height: 100px;
            position: relative;
            bottom: 10px;
        }
        h1{
            font-size: 25px;
            font-weight: bolder;
            font-style: oblique;
            color: burlywood;
        }
        ul{
            @include flexbox(row, space-evenly, center, row wrap);
            position: relative;
            right: 10px;
            li{ 
                list-style-type: none;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 5px;
                    padding: 4px;
                    color:  rgb(255, 193, 111);
                    &:hover{
                        color:rgb(255, 216, 165);
                    }
                }
            }
        }
    }
}

.cart{
    background-image: url(/ProyectoJs/assets/imagenes/cart.png);
    background-position: center center;
    background-size: cover;
    height: 50px;
    width: 50px;
    a{
        position: relative;
        top: 10px;
        left: 15px;
    }
}

main{
    grid-area: main;
    @include flexbox(column, space-evenly, center, column wrap);
    padding: 10px;
    section{
        @include flexbox(column, space-around, center, column wrap);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.253);
        width: 85%;
        height: 65vh;
        padding: 15px;
        margin: 7px;
        border-radius: 70px;
        h2{
            height: fit-content;
            width: fit-content;
            padding: 5px;
            font-style: italic;
            font-weight: 700;
            font-size: 25px;
            color: rgb(165, 113, 46);
        }
        div{
            @include flexbox(row, space-evenly, center, row wrap);
            height: 75%;
            width: 98%;
            padding: 5px;
            margin: 10px;
            a{
                height: 80%;
                width: 250px;
                max-width: 250px;
                padding: 5px;
                border-radius: 20px;
                text-decoration: none;
                h3{
                    position: relative;
                    top: 240px;
                    color: rgb(148, 90, 15);
                }
                p{
                    position: relative;
                    font-weight: bolder;
                    top: 10px;
                    color: rgb(39, 24, 4);
                }
            }
        }
        
    }
}

.hamburgesaUno{
    background-image: url(../assets/Imagenes/burgerUno.jpg);
    background-position: center center;
    background-size: cover;
}

.hamburgesaDos{
    background-image: url(../assets/Imagenes/burgerDos.jpg);
    background-position: center center;
    background-size: cover;
}

.hamburgesaTres{
    background-image: url(../assets/Imagenes/burgerTres.jpg);
    background-position: center center;
    background-size: cover;
}